


.bord {
  border: solid;
}


.menu {
  height: 50%;
  transform: translateY(50%);
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  background-color: white;
}

.menu ion-row {
  padding: 0.5rem;
  background-color: white;
}

.options {
  width: 90%;
  margin: 0.5rem;
  padding: 0.5rem;
}

.t {
  text-align: right;
}


.t-i {
  font-size: 40px;
}

._1 {
  background-color: red;
  border-radius: 10px;
}

._2 {
  background-color: blue;
  border-radius: 10px;
}

._3 {
  background-color: green;
  border-radius: 10px;
}
